/* NAVBAR */
.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-app-name {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-links {
  min-width: 100px;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-link:hover {
  text-decoration: none;
}
