/* HOME PAGE */
.home-container {
  padding-top: 10px;
}

.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* DATE FILTER */
.date-filter {
  display: flex;
  flex-direction: column;
}

.date-filter-inputs {
  display: flex;
  gap: 10px;
}

.date-filter-input {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  max-width: 300px;
  gap: 10px;
}

.date-filter-input input {
  grid-column: span 1;
  width: 130px;
}
